<div class="container">
  <h1 class="mat-headline-4">Products</h1>
  
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Search products</mat-label>
    <input matInput [formControl]="searchControl">
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

  <div class="products-grid">
    <mat-card *ngFor="let product of products$ | async" class="product-card">
      <img mat-card-image [src]="product.imageUrl" class="product-image">
      <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-footer style="display: flex;align-items: center;justify-content: center;">
        <button mat-button (click)="toggleCart(product)" 
        style="width: 200px;"
        [ngStyle]="{ 'background-color': (isInCart(product) | async) ? '#ba1a1a' : '#343dff', 
                 'color': 'white' }"
        >
          <mat-icon>{{ (isInCart(product) | async) ? 'remove_shopping_cart' : 'add_shopping_cart' }}</mat-icon>
          {{ (isInCart(product) | async) ? 'Remove from Cart' : 'Add to Cart' }}
        </button>
      </mat-card-footer>
      
      
    </mat-card>
  </div>
</div>